<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.cube.storm.example"
>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<!-- Push notifications -->
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:name=".MainApplication"
	>
		<activity android:name=".BootActivity">
			<intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:name=".MainActivity" android:theme="@style/Test" />
		<activity android:name=".SettingsActivity" android:theme="@style/Test" />

		<activity android:name="com.cube.storm.ui.activity.StormActivity" android:theme="@style/Test" />
		<activity android:name="com.cube.storm.ui.activity.VideoPlayerActivity" android:theme="@style/Test" />
		<activity android:name="com.cube.storm.ui.activity.WebViewActivity" android:theme="@style/Test" android:configChanges="keyboardHidden|orientation|screenSize" />

		<!-- Push Notifications -->
		<receiver
			android:name="com.cube.storm.message.lib.receiver.GCMReceiver"
			android:permission="com.google.android.c2dm.permission.SEND"
		>
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="com.cube.storm.example" />
			</intent-filter>
		</receiver>
	</application>
</manifest>
